
# Framework
# ---------

YII_DEBUG=true
YII_ENV=dev
YII_TRACE_LEVEL=0

# Database
# --------

DB_DSN=mysql:host=localhost;port=3306;dbname=yz2app
DB_USER=root
DB_PASSWORD=root
DB_TABLE_PREFIX=yz_

# Host
# ----

FRONTEND_WEB=http://yz2app.192.168.7.6.xip.io
BACKEND_WEB=http://backend.yz2app.192.168.7.6.xip.io

# Other
# -----

FRONTEND_COOKIE_VALIDATION_KEY=<generated_key>
BACKEND_COOKIE_VALIDATION_KEY<generated_key>

