# This file contains development defaults for ENV variables

# Framework
# ---------

YII_DEBUG=true
YII_ENV=dev
YII_TRACE_LEVEL=0

# Database
# --------

MYSQL_HOST=localhost
MYSQL_PORT=3306

MYSQL_DATABASE=yz2app
MYSQL_USER=root
MYSQL_PASSWORD=root

DATABASE_TABLE_PREFIX=yz_

# Host
# ----

FRONTEND_WEB=http://#FRONTEND_HOST#
BACKEND_WEB=http://#BACKEND_HOST#